<!DOCTYPE html>
<html>
  <head>
    <title>Air Bnb | Holiday Rentals, cabins, beach houses and more</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Air Bnb">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# Load compiled Tailwind CSS %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>